app = "avitotiger_bot"
primary_region = "ams"

[build]
  builder = "heroku/buildpacks:20"
  buildpacks = ["heroku/python"]

[env]
  TELEGRAM_BOT_TOKEN = ""
  DATABASE_URL = "postgresql://postgres:password@avito-bot-db.internal:5432/avito_bot"
  REDIS_URL = "redis://avito-bot-redis.internal:6379"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[services]]
  internal_port = 8080
  protocol = "tcp"
  
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    
  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
    
  [[services.ports]]
    handlers = ["http"]
    port = 80

[[statics]]
  guest_path = "/app/static"
  url_prefix = "/static"
