name: Avito Tiger Bot

on:
  schedule:
    # Каждые 13 минут 5 секунд
    - cron: '5-59/13 * * * *'   # 05, 18, 31, 44, 57
    - cron: '0-59/13 * * * *'   # 00, 13, 26, 39, 52
  workflow_dispatch:

jobs:
  check-avito:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: python src/bot.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_ADMIN_IDS: ${{ secrets.TELEGRAM_ADMIN_IDS }}